@page
@model WebApplication3.Pages.LoginModel
@{
}
<head>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6Lc1-l0pAAAAANqZzQayLtiXIfB-pF7mvuRGfoYn"></script>
</head>
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Login</h1>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label class="form-label" asp-for="LModel.Email">Email Address</label>
                    <input type="text" asp-for="LModel.Email" class="form-control" />
                    <span asp-validation-for="LModel.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="LModel.Password">Password</label>
                    <input type="password" asp-for="LModel.Password" class="form-control" />
                    <span asp-validation-for="LModel.Password" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Replace the variables below. -->
    <script>
        function onSubmit(token) {
            document.getElementById("demo-form").submit();
        }
    </script>

}